<h1>Editing Chat Room</h1>

<%= form_for(@chat_room) do |f| %>
  <% if @chat_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat_room.errors.count, "error") %> prohibited this chat_room from being saved:</h2>

      <ul>
      <% @chat_room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :private_room %>
    <%= f.check_box :private_room %>
  </div>
  <div class="actions">
    <%= f.submit "Update", :class => "btn btn-warning btn-large" %>
  </div>
<% end %>

<%= link_to 'Back', chat_rooms_path, :class => "btn" %>
